<a href="https://colab.research.google.com/github/ThodupunooriSaiManish/Machine_Learning/blob/main/Machine_Learning_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB-1_Week1(18/07/25)

In [ ]:
import numpy as np

In [ ]:
n=np.arange(10)
print(n)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
a=n.reshape(2,5)
print(a)
print()
b=n.reshape(2,-1)
print(b)

[[0 1 2 3 4]
 [5 6 7 8 9]]

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [ ]:
c=np.arange(10).reshape(2,5)
d=np.arange(10).reshape(5,2)
print(np.dot(c,d))

[[ 60  70]
 [160 195]]

In [ ]:
e=np.arange(11)
f=np.flip(e)
print(f)

[10  9  8  7  6  5  4  3  2  1  0]

In [ ]:
import numpy as np

a = np.eye(3)
b = np.array([[1, 2, 3]])
c = np.vstack((a, b))
print(c)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 2. 3.]]

In [ ]:
import numpy as np

matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])

diagonal = np.diag(matrix)
print(diagonal)

[1 5 9]

Pandas Exercise-1

In [ ]:
import pandas as pd
#Q9
data = {
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}
index = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']

Sales = pd.DataFrame(data, index=index)
print(Sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
#Q10
# a) Display row labels
print("Row Labels:", Sales.index.tolist())
print()
# b) Display column labels
print("Column Labels:", Sales.columns.tolist())
print()
# c) Display data types of each column
print("Data Types:\n", Sales.dtypes)
print()
# d) Display dimensions, shape, size and values
print("Dimensions:", Sales.ndim)
print("Shape:", Sales.shape)
print("Size:", Sales.size)
print("Values:\n", Sales.values)
print()
# e) Display last two rows
print("Last 2 rows:\n", Sales.tail(2))
print()
# f) Display first two columns
print("First 2 columns:\n", Sales.iloc[:, :2])
print()

Row Labels: [2015, 2016, 2017, 2018, 'Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti', 2018]

Column Labels: ['Shailesh', 'Kusum', 'Vivaan', 'Shruti', 'Sumeet', 2018, 'Madhu', 'Kinshuk', 'Ankit']

Data Types:
 Shailesh    float64
Kusum       float64
Vivaan      float64
Shruti      float64
Sumeet      float64
2018        float64
Madhu       float64
Kinshuk     float64
Ankit       float64
dtype: object

Dimensions: 2
Shape: (10, 9)
Size: 90
Values:
 [[ 12000.  18000.  30000.  45000.  37800.     nan     nan     nan     nan]
 [ 20000.  50000. 100000. 125000.  52000.     nan     nan     nan     nan]
 [ 50000.  60000.  80000.  90000.  78438.     nan     nan     nan     nan]
 [100000. 110000. 340000. 900000.  38852.     nan     nan     nan     nan]
 [    nan     nan     nan     nan     nan 160000.     nan     nan     nan]
 [    nan     nan     nan     nan     nan 110000.     nan     nan     nan]
 [    nan     nan     nan     nan     nan 500000.     nan     nan     nan]
 [    nan     nan     nan     nan     nan 340000.     nan     nan     nan]
 [    nan     nan     nan     nan     nan 900000.     nan     nan     nan]
 [    nan 110000.     nan 900000.     nan     nan 160000. 500000. 340000.]]

Last 2 rows:
         Shailesh     Kusum  Vivaan    Shruti  Sumeet      2018     Madhu  \
Shruti       NaN       NaN     NaN       NaN     NaN  900000.0       NaN
2018         NaN  110000.0     NaN  900000.0     NaN       NaN  160000.0

         Kinshuk     Ankit
Shruti       NaN       NaN
2018    500000.0  340000.0

First 2 columns:
          Shailesh     Kusum
2015      12000.0   18000.0
2016      20000.0   50000.0
2017      50000.0   60000.0
2018     100000.0  110000.0
Madhu         NaN       NaN
Kusum         NaN       NaN
Kinshuk       NaN       NaN
Ankit         NaN       NaN
Shruti        NaN       NaN
2018          NaN  110000.0

In [ ]:
data_2018 = {
    'Madhu': 160000,
    'Kusum': 110000,
    'Kinshuk': 500000,
    'Ankit': 340000,
    'Shruti': 900000
}
Sales2 = pd.DataFrame(data_2018, index=[2018]).T
print("Sales2 DataFrame:\n", Sales2)

# h) Check if Sales2 is empty
print("Is Sales2 empty?", Sales2.empty)

# a) Append Sales2
Sales = pd.concat([Sales, Sales2], axis=1)
print("After appending Sales2:\n", Sales)

# b) Transpose
Sales = Sales.T
print("Transposed Sales:\n", Sales)

# c) Sales in 2017
print("Sales in 2017:\n", Sales.loc[2017])

# d) Sales by Madhu and Ankit in 2017 and 2018
print("Sales by Madhu and Ankit in 2017 and 2018:\n", Sales.loc[[2017, 2018], ['Madhu', 'Ankit']])

# e) Sales by Shruti in 2016
print("Sales by Shruti in 2016:", Sales.at[2016, 'Shruti'])

# f) Add Sumeetâ€™s data
Sales['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print("After adding Sumeet:\n", Sales)

# g) Delete year 2014
Sales = Sales.drop(index=2014)
print("After deleting 2014:\n", Sales)

# h) Delete Kinshuk
Sales = Sales.drop(columns='Kinshuk')
print("After deleting Kinshuk:\n", Sales)

# i) Rename Ankit to Vivaan and Madhu to Shailesh
Sales = Sales.rename(columns={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'})
print("After renaming:\n", Sales)

# j) Update sale of Shailesh in 2018 to 100000
Sales.at[2018, 'Shailesh'] = 100000
print("After updating Shailesh 2018 sale:\n", Sales)

# k) Write to CSV (without row/column labels)
Sales.to_csv("SalesFigures.csv", index=False, header=False)

# l) Read from CSV and update labels
SalesRetrieved = pd.read_csv("SalesFigures.csv", header=None)

# Set same row and column labels as Sales
SalesRetrieved.index = Sales.index
SalesRetrieved.columns = Sales.columns
print("SalesRetrieved:\n", SalesRetrieved)

Sales2 DataFrame:
            2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
Is Sales2 empty? False
After appending Sales2:
             2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000
Transposed Sales:
          Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0
Sales in 2017:
 Madhu      50000.0
Kusum      60000.0
Kinshuk    70000.0
Ankit      80000.0
Shruti     90000.0
Name: 2017, dtype: float64
Sales by Madhu and Ankit in 2017 and 2018:
          Madhu     Ankit
2017   50000.0   80000.0
2018  160000.0  340000.0
Sales by Shruti in 2016: 125000.0
After adding Sumeet:
          Madhu     Kusum   Kinshuk     Ankit    Shruti   Sumeet
2014     100.5     150.8     200.9   30000.0   40000.0    196.2
2015   12000.0   18000.0   22000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0  38852.0
After deleting 2014:
          Madhu     Kusum   Kinshuk     Ankit    Shruti   Sumeet
2015   12000.0   18000.0   22000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0  38852.0
After deleting Kinshuk:
          Madhu     Kusum     Ankit    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  340000.0  900000.0  38852.0
After renaming:
       Shailesh     Kusum    Vivaan    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  340000.0  900000.0  38852.0
After updating Shailesh 2018 sale:
       Shailesh     Kusum    Vivaan    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  100000.0  110000.0  340000.0  900000.0  38852.0
SalesRetrieved:
       Shailesh     Kusum    Vivaan    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  100000.0  110000.0  340000.0  900000.0  38852.0

In [ ]:
#Exercise-2,Q13
import pandas as pd

# Create DataFrame
data = {
    'Item': ['TV', 'TV', 'TV', 'AC'],
    'Company': ['LG', 'VIDEOCON', 'LG', 'SONY'],
    'Rupees': [12000, 10000, 15000, 14000],
    'USD': [700, 650, 800, 750]
}

Product = pd.DataFrame(data)
print("Product DataFrame:\n", Product)
# New rows to add
new_data = {
    'Item': ['AC', 'TV'],
    'Company': ['LG', 'SONY'],
    'Rupees': [16000, 13000],
    'USD': [850, 720]
}

new_rows = pd.DataFrame(new_data)
Product = pd.concat([Product, new_rows], ignore_index=True)
print("Updated Product DataFrame:\n", Product)
# Filter LG TVs
lg_tv = Product[(Product['Item'] == 'TV') & (Product['Company'] == 'LG')]
max_price = lg_tv['Rupees'].max()
print("Maximum price of LG TV:", max_price)

total_rupees = Product['Rupees'].sum()
print("Total Rupees of all products:", total_rupees)

sony_usd_median = Product[Product['Company'] == 'SONY']['USD'].median()
print("Median USD for Sony products:", sony_usd_median)

Product_sorted = Product.sort_values(by='Rupees')
print("Sorted Product DataFrame:\n", Product_sorted)

Product DataFrame:
   Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750
Updated Product DataFrame:
   Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750
4   AC        LG   16000  850
5   TV      SONY   13000  720
Maximum price of LG TV: 15000
Total Rupees of all products: 80000
Median USD for Sony products: 735.0
Sorted Product DataFrame:
   Item   Company  Rupees  USD
1   TV  VIDEOCON   10000  650
0   TV        LG   12000  700
5   TV      SONY   13000  720
3   AC      SONY   14000  750
2   TV        LG   15000  800
4   AC        LG   16000  850

LAB-2_Week2(25/07/25)_(iris_dataset_preprocessing_exercise)

In [8]:
import pandas as pd
from sklearn import datasets

# Load the iris dataset
iris = datasets.load_iris()

# Print the shape of the data
print("Shape of the data:", iris.data.shape)

# Print the type of the data (iris.data is a NumPy array)
print("Type of the data:", type(iris.data))

# Convert to DataFrame for easier handling and view first 3 rows
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
print("First 3 rows of the dataset:")
print(df.head(3))

Shape of the data: (150, 4)
Type of the data: <class 'numpy.ndarray'>
First 3 rows of the dataset:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [16]:
print(iris.keys())
print()
print(iris.feature_names)
print()
print(iris.DESCR)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [18]:
import pandas as pd
from sklearn import datasets
import numpy as np

# Number of observations (rows)
num_observations = df.shape[0]

# Count missing values per column
missing_values_column = df.isnull().sum()

# Total missing values
total_missing_values = df.isnull().sum().sum()

# Count NaN values
nan_values_per_column = df.isna().sum()
total_nan_values = df.isna().sum().sum()

print(f"Number of observations: {num_observations}\n")

print("Missing values per column:")
print(missing_values_column)

print(f"\nTotal missing values in dataset: {total_missing_values}\n")

print("NaN values per column:")
print(nan_values_per_column)

print(f"\nTotal NaN values in dataset: {total_nan_values}")

Number of observations: 150

Missing values per column:
sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

Total missing values in dataset: 0

NaN values per column:
sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

Total NaN values in dataset: 0